/* Style composant Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94vw;
    height: 8vh;
    margin: 2vh 3vw 0 3vw;

    .nom-maelle {
        text-transform: uppercase;
        color: black;
        font-weight: 800;
        font-size: 14px;
    }

    .contact-link {
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-weight: 800;
        font-size: 16px;
        transition: all 0.2s ease-in-out;

        &:hover {
            scale: 1.2;
        }
    }

    /*.end-motif {*/
    /*    width: 18vw;*/
    /*}*/

}