/* Style composant SliderComponent */

.slider-container {
    position: relative;
    width: 100%;
}

.slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    z-index: -1;
    //pointer-events: none;

    .image-container {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        aspect-ratio: 16 / 9;

        .slider-image {
            position: absolute; /* Positionnement absolu pour empiler les images */
            width: 100%;
            height: auto;
            display: block;
            -webkit-transition: opacity 0.5s ease-in-out; /* Préfixe Webkit pour Safari */    /* Préfixe pour Firefox */
            -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out; /* Effet de fondu fluide */
            opacity: 0; /* Les images commencent avec opacité 0 */
            -o-object-fit: cover;
            object-fit: cover;

            &.active {
                opacity: 1; /* Lorsque l'image est active, elle devient visible */
            }
        }
    }

}

.arrow {
    border: none;
    padding: 0;
    font-size: 0;
    cursor: default;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
    -webkit-transition: all 0.1s ease-in-out; /* Préfixe Webkit pour Safari */    /* Préfixe pour Firefox */
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    width: 25px;
    height: 25px;
    background: transparent;

    &:hover {
        -webkit-transform: translateY(-50%) scale(1.2); /* Préfixe Webkit pour Safari */    /* Préfixe pour Firefox */
        -ms-transform: translateY(-50%) scale(1.2);
        transform: translateY(-50%) scale(1.2);
    }

    &:active {
        -webkit-transform: translateY(-50%) scale(1.5); /* Préfixe Webkit pour Safari */    /* Préfixe pour Firefox */
        -ms-transform: translateY(-50%) scale(1.5);
        transform: translateY(-50%) scale(1.5);
    }
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}

/* Styles pour les écrans type tablette */
@media (max-width: 900px) {
    .slider {

        .arrow {
            width: 20px;
            height: 20px;
        }
    }
}

/* Styles pour les écrans type smartphone */
@media (max-width: 500px) {
    .slider {
        height: 34vh;

        .image-container {
            height: 100%;
            width: auto;
        }

        .arrow {
            width: 16px;
            height: 16px;

            &:active {
                -webkit-transform: translateY(-50%) scale(1.5); /* Préfixe Webkit pour Safari */    /* Préfixe pour Firefox */
                -ms-transform: translateY(-50%) scale(1.5);
                transform: translateY(-50%) scale(1.5);
            }
        }
    }
}

@media (max-width: 400px) {
    .slider {
        height: 28vh;
    }
}