/* Style page Contact */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

    position: relative;
    overflow: hidden;

    .motif {
        position: absolute;
        width: 28vh;
        left: 50%;
        transform: translateX(-50%);
    }

    .motif-top {
        top: 0;
        transform: translate(-50%, -50%);
    }
    .motif-bottom {
        bottom: 0;
        transform: translate(-50%, 50%);
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 85%;
        margin: auto;

        .logo {
            width: 15%;
            transition: all 0.3s ease-in-out;

            .logo-img {
                width: 100%;
                height: auto;
            }

            &:hover {
                scale: 1.1;
            }
        }

        .form-container {
            width: 40%;

            .title {
                text-align: center;
                font-size: 22px;
                font-weight: 800;
                margin-bottom: 80px;
            }

            .form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;

                .input,
                .textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid black;
                    outline-color: black;
                }

                .textarea {
                    width: 100%;
                    min-height: 100px;
                    max-height: 180px;
                    resize: vertical;
                }

                .button {
                    padding: 10px 20px;
                    font-weight: 800;
                    border: none;
                    border-radius: 10%;
                    background: none;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    margin-top: 30px;
                }

                .button:hover {
                    scale: 1.2;
                }
            }
        }

    }

    .retour-accueil {
        position: absolute;
        top: 20px;
        left: 30px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    .retour-listing {
        position: absolute;
        top: 28px;
        left: 120px;
        color: black;
        font-size: 14px;
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease-in-out;

        .lien-listing {
            margin: 0;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

}


/* Styles pour les écrans type tablette */
@media (max-width: 900px) {
    .container {

        .retour-listing {
            right: 40px;
            left: auto;
        }

        .content {

            .logo {
                width: 20%;
            }

            .form-container {
                width: 50%;
            }
        }
    }
}

@media (max-width: 650px) {
    .container {

        .motif {
            width: 25vh;
        }

        .retour-listing {
            right: 20px;
            left: auto;
        }
    }
}

/* Styles pour les écrans type smartphone */
@media (max-width: 500px) {
    .container {
        overflow: auto;

        .retour-listing {
            visibility: hidden;
        }

        .motif-bottom {
            display: none;
        }

        .content {
            flex-direction: column;
            gap: 5vh;
            margin-top: 15vh;

            .logo {
                width: 25%;
            }

            .form-container {
                width: auto;
                margin-bottom: 5vh;

                .title {
                    margin-bottom: 7vh;
                }
            }
        }
    }
}
