/* Style page Contact */

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .header {
        display: none;
    }

    .motif {
        position: absolute;
        width: 28vh;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .motif-top {
        top: 0;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .motif-bottom {
        bottom: 0;
        -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    }

    .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 85%;
        margin: auto;
        padding-top: 6vh;

        .logo {
            width: 15%;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            .logo-img {
                width: 100%;
                height: auto;
            }

            &:hover {
                scale: 1.1;
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
            }
        }

        .form-container {
            width: 40%;

            .title {
                text-align: center;
                font-size: 22px;
                font-weight: 800;
                margin-bottom: 12vh;
            }

            .form {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                gap: 30px;

                .input,
                .textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid black;
                    outline-color: black;
                    border-radius: 5px;
                    -webkit-transition: border-color 0.3s ease-in-out;
                    -o-transition: border-color 0.3s ease-in-out;
                    transition: border-color 0.3s ease-in-out;
                }

                .textarea {
                    min-height: 100px;
                    max-height: 180px;
                    resize: vertical;
                }

                .button {
                    padding: 10px 20px;
                    font-weight: 800;
                    border: none;
                    border-radius: 10%;
                    background: none;
                    cursor: pointer;
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    margin-top: 30px;

                    &:hover {
                        scale: 1.2;
                        -webkit-transform: scale(1.2);
                        -moz-transform: scale(1.2);
                    }
                }

                .button.hide {
                    display: none;
                }
            }

            .success-message {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                color: green;
                font-size: 20px;
                margin: 8vh 0;
                text-align: center;
            }
        }
    }

    .retour-accueil {
        position: absolute;
        top: 20px;
        left: 30px;
        width: 35px;
        height: 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: 999999;

        &:hover {
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            transform: scale(1.2);
        }
    }

    .retour-listing {
        position: absolute;
        top: 28px;
        left: 120px;
        color: black;
        font-size: 14px;
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: -webkit-transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;

        .lien-listing {
            margin: 0;
        }

        &:hover {
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}


/* Styles pour les écrans type tablette */
@media (max-width: 900px) {
    .container {

        .header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding-top: 3vh;
            margin-bottom: 0;

            .logo {
                visibility: hidden;
            }
        }

        .retour-listing {
            right: 40px;
            left: auto;
        }

        .content {
            padding-top: 0;

            .logo {
                width: 20%;
            }

            .form-container {
                width: 50%;
            }
        }
    }
}

@media (max-width: 800px) {
    .container {

        .retour-listing {
            visibility: hidden;
        }
    }
}

@media (max-width: 650px) {
    .container {

        .motif {
            width: 25vh;
        }

        .retour-listing {
            right: 20px;
            left: auto;
        }
    }
}

/* Styles pour les écrans type smartphone */
@media (max-width: 500px) {
    .container {
        overflow: auto;

        .burger-icon {
            padding-top: 10px;
        }

        .retour-listing {
            visibility: hidden;
        }

        .motif-bottom {
            display: none;
        }

        .content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            gap: 5vh;
            margin: 7vh 0;

            .logo {
                width: 25%;
            }

            .form-container {
                width: auto;
                .title {
                    margin-bottom: 7vh;
                }
            }
        }
    }
}