/* Style page ListingProjects */

.listing-projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    //padding: 0 20px;
    //width: auto;

    margin: auto;
    width: 80%;

    .header {
        margin: 0 3vw 5vh 2.5vw;
        width: 94.5vw;

        .contact-link {
            -ms-flex-item-align: end;
            -ms-grid-row-align: end;
            align-self: end;
            padding-bottom: 2vh;
        }
    }

    .grid {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
        gap: 12px;
        width: 100%;
        //max-width: 75%;
        margin-top: 6vh;
        margin-bottom: 6vh;

        .grid-item {
            position: relative;
            overflow: hidden;
            text-decoration: none;
            aspect-ratio: 1 / 1;

            img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                opacity: 0;
                -webkit-transform: translateX(-100px);
                -ms-transform: translateX(-100px);
                transform: translateX(-100px);
                will-change: opacity, transform;
                filter: blur(0);
                z-index: 9999;
                scale: 1;
                -webkit-transition: scale 0.5s ease-in-out, filter 0.5s ease-in-out;
                -o-transition: scale 0.5s ease-in-out, filter 0.5s ease-in-out;
                transition: scale 0.5s ease-in-out, filter 0.5s ease-in-out;
            }

            .more-info-hover {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 105%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 1%;
                transform: translateX(-150%);
                background-color: rgb(255, 255, 255, 0.3);
                transition: all 0.3s ease-in-out;

                .hover-name,
                .hover-category {
                    width: 75%;
                    margin: 0;
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 25px;
                    font-weight: 700;
                }

                .hover-category {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }

        .grid-item:hover {

            img {
                scale: 1.3 !important;
                filter: blur(4px);
            }

            .more-info-hover {
                transform: translateX(0);
            }
        }
    }

    .footer {
        margin: 2vh 3vw 0 5vw;
        width: 92vw;
    }
}


/* Styles pour les écrans type grande tablette */
@media (max-width: 1200px) {
    .listing-projects {

        .grid {
            gap: 8px;
            //max-width: 90%;
            margin-top: 5vh;

            .grid-item {

                .more-info-hover {

                    .hover-category,
                    .hover-name {
                        font-size: 20px;
                    }

                    .hover-category {
                        font-size: 16px;
                    }
                }
            }
        }

    }
}

/* Styles pour les écrans type tablette */
@media (max-width: 900px) {
    .listing-projects {

        .header {
            margin: 5vh 3vw 1vh 2.5vw;

            .logo {
                -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
            }

            .motif {
                padding: 0;
            }

            .contact-link {
                -ms-flex-item-align: start;
                align-self: flex-start;
            }

            .burger-icon {
                position: fixed;
                top: 3.5vh;
                right: 0;
            }
        }

        .grid {
            gap: 8px;
            //max-width: 90%;
            margin-top: 5vh;

            .grid-item {

                .more-info-hover {

                    .hover-category,
                    .hover-name {
                        font-size: 16px;
                    }

                    .hover-category {
                        font-size: 12px;
                    }
                }
            }
        }

        .footer {

            .nom-maelle {
                font-size: 10px;
            }

            .contact-link {
                font-size: 12px;
            }
        }
    }
}

/* Styles pour les écrans type smartphone */
@media (max-width: 500px) {
    .listing-projects {

        .header {
            width: 96vw;
            margin: 4vh 0 2vh 0;

            .logo {

                .logo-image {
                    height: 40px;
                }
            }
        }

        .grid {
            grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
            max-width: 100%;

            .grid-item {

                .more-info-hover {

                    .hover-category,
                    .hover-name {
                        font-size: 20px;
                    }

                    .hover-category {
                        font-size: 16px;
                    }
                }
            }
        }

        .footer {

            .nom-maelle {
                font-size: 10px;
            }

            .contact-link {
                visibility: hidden;
            }
        }
    }
}