/* Style de la page LegalPage et PolitiqueConfidentialite */

.mentions-legales, .politique-confidentialite {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    color: black;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .main-title {
        text-decoration: underline;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #000000;
    }

    p {
        line-height: 1.6;
        font-size: 1rem;
    }

    a {
        font-weight: bold;
        text-decoration: none;
        -webkit-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        color: inherit;

        &:hover {
            color: #007bff;
        }
    }

    .maj-date {
        text-align: end;
    }

    .politique-link {
        text-decoration: underline;
        transition: all 0.3s ease-in-out;

        &:hover {
            font-size: 17px;
            text-decoration: underline;
            color: black;
        }
    }

    .mentions-link {
        text-decoration: underline;
        transition: all 0.3s ease-in-out;

        &:hover {
            font-size: 18px;
            text-decoration: underline;
            color: black;
        }
    }

    .back-home {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 8vh;
        font-size: 20px;
        color: black;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &:hover {
            scale: 1.1;
            text-decoration: underline;
            color: black;
        }

    }

}
