
/* Suppression du cursor par defaut */
html, body, * {
  cursor: none;
}

body {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: Be Vietnam Pro, sans-serif;

  /* Page accueil */
  .portfolio-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: -1;
      filter : blur(8px);
      scale: 1.03;
      transition: background-image 0.5s ease-in-out;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      text-align: center;
      gap: 7vh;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      margin-left: 15vw;
      margin-bottom: 23vh;

      .logo {
        filter: invert();

        img {
          width: 180px;
          height: auto;
        }
      }

      .nom-metier {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;

        .nom, .metier {
          margin: 0;
        }

        .metier {
          font-size: 26px;
          font-weight: 500;
        }
      }
    }

    .info {
      width: 100vw;
      height: 7vh;
      display: flex;
      font-size: 16px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-left: 15vw;
      padding-bottom: 3vh;

      .first-block,
      .second-block {
        display: flex;
      }

      .first-block {
        width: 58%;
        gap: 2vh;

        .category,
        .title {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          text-transform: uppercase;
          font-weight: 800;

        }

        .category-text.is-changing,
        .title-text.is-changing {
          opacity: 0;
          transform: translateY(20px);
          /*transition: transform 0.5s ease-in-out;*/
        }

        .category-text,
        .title-text {
          transition: transform 0.4s ease-in-out;
          opacity: 1;
          transform: translateY(0);
        }

        .category {
          gap: 10px;
          width: 34%;

          .category-title,
          .category-text {
            text-align: end;
            margin: 0;
          }

          .category-text {
            font-weight: 500;
          }
        }

        .title {
          gap: 10px;
          width: 40%;

          .title-title,
          .title-text {
            text-align: start;
            margin: 0;
          }

          .title-text {
            font-weight: 500;
          }
        }
      }

      .second-block {
        width: 34%;
        font-weight: 800;
        justify-content: space-around;

        .contact {
          text-transform: uppercase;
          text-decoration: none;

          a {
            text-transform: uppercase;
            text-decoration: none;
            color: white;

            .contact-text {
              margin: 0;
            }
          }

        }

        .next {
          text-transform: uppercase;
          text-decoration: none;

          a {
            text-transform: uppercase;
            text-decoration: none;
            color: white;

            .next-text {
              margin: 0;
            }
          }

        }
      }
    }

    .black-text {
      color: black !important;
      transition: all 0.3s ease-in-out;

      .logo {
        filter: none !important;
        transition: all 0.3s ease-in-out;
      }

      a {
        color: black !important;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  /* Page liste des projets */
  .listing-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    width: auto;

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
      gap: 12px;
      width: 100%;
      max-width: 75%;
      margin-top: 6vh;
      margin-bottom: 6vh;

      .grid-item {
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 1.3s ease-in-out;
        }

        img:hover {
          transform: scale(1.5);
        }
      }

      /*.grid-item:hover {*/
      /*  cursor: pointer;*/
      /*}*/

    }

  }

  /* Page contact */
  .contact-page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;

    .contact-container {
      height: 60%;

      .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 75%;
        margin: auto;

        .contact-input {
          width: 50%;
          height: 45px;
        }

        .contact-textarea {
          width: 50%;
          height: 160px;
          resize: none;
        }

        .contact-input,
        .contact-textarea {
          border: solid 1px #707070;
        }
      }

      -ms-overflow-style: none;
    / / IE 10 + overflow: -moz-scrollbars-none;
    / / Firefox
    }
  }

  /* Page détail projet */
  .detail-container {
    margin: auto auto 20vh;
    width: 80%;

    .presentation-projet {

      .image-presentaion {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 91vh;
        object-fit: cover;
        object-position: center;
      }

      .content-presentation {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 100vh;

        .info {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 12vh;
          width: 100vw;
          height: 7vh;
          position: fixed;
          bottom: 0;
          left: 0;
          z-index: 100;
          margin: 0 auto;
          padding: 1vh 0 1vh 10vw;
          background-color: rgb(255, 255, 255, 0.75);


          .first-block,
          .second-block {
            display: flex;
          }

          .first-block {
            width: 45%;
            gap: 2vh;

            .category,
            .title {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              text-transform: uppercase;
              font-weight: 800;

            }

            .category-text.is-changing,
            .title-text.is-changing {
              opacity: 0;
              transform: translateY(20px);
              /*transition: transform 0.5s ease-in-out;*/
            }

            .category-text,
            .title-text {
              transition: transform 0.4s ease-in-out;
              opacity: 1;
              transform: translateY(0);
            }

            .category {
              gap: 10px;
              width: 42%;

              .category-title,
              .category-text {
                text-align: end;
                margin: 0;
              }

              .category-text {
                font-weight: 500;
              }
            }

            .title {
              gap: 10px;
              width: 52%;

              .title-title,
              .title-text {
                text-align: start;
                margin: 0;
              }

              .title-text {
                font-weight: 500;
              }
            }
          }

          .second-block {
            color: black;
            width: 33%;
            font-weight: 800;
            justify-content: space-between;

            .next-back {
              display: flex;
              flex-direction: row;
              gap: 2vw;
              text-transform: uppercase;
              text-decoration: none;

              a {
                font-size: 25px;
                color: black;
                text-transform: uppercase;
                text-decoration: none;
              }
            }

            .contact {
              display: flex;
              align-items: center;
              text-transform: uppercase;
              text-decoration: none;

              a {
                text-transform: uppercase;
                text-decoration: none;
                color: white;

                .contact-text {
                  color: black;
                  margin: 0;
                }
              }

            }

            .list {
              display: flex;
              align-items: center;
              text-transform: uppercase;
              text-decoration: none;

              a {
                text-transform: uppercase;
                text-decoration: none;
                color: white;

                .list-text {
                  color: black;
                  margin: 0;
                }
              }

            }
          }



          /*.category,*/
          /*.title {*/
          /*  display: flex;*/
          /*  flex-direction: row;*/
          /*  align-items: center;*/
          /*  text-transform: uppercase;*/
          /*  width: 43%;*/
          /*  font-weight: 800;*/
          /*}*/

          /*.category {*/
          /*  gap: 10px;*/

          /*  .category-title,*/
          /*  .category-text {*/
          /*    margin: 0;*/
          /*  }*/

          /*  .category-text {*/
          /*    font-weight: 500;*/
          /*  }*/
          /*}*/

          /*.title {*/
          /*  gap: 10px;*/

          /*  .title-title,*/
          /*  .title-text {*/
          /*    margin: 0;*/
          /*  }*/

          /*  .title-text {*/
          /*    font-weight: 500;*/
          /*  }*/
          /*}*/
        }
      }

      /*.content-presentation.add-margin {*/
      /*  margin-top: 15vh;*/
      /*}*/
    }

    .info-projet {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15vh;
      gap: 12px;

      .description-et-image,
      .double-image,
      .image-large {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 100%;
      }

      .description-et-image {
        flex-direction: row;
        gap: 12px;

        .description {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 49%;

          .description-text {
            margin: auto;
            width: 75%;
            font-size: 20px;
            text-transform: uppercase;
          }
        }

        img {
          width: 49%;
        }
      }

      .description-et-image > * {
        flex: 1 1 0;
        object-fit: cover;
        width: 50%;
      }

      .double-image {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: calc(100% - 12px);
      }

      .double-image > * {
        flex: 1 1 0;
        object-fit: cover;
        width: 50%;
      }

      .image-large {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .quadruple-image {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: calc(100% - (3 * 12px));

        img {
          height: auto;
          object-fit: cover;
          width: 25%;
        }
      }

      .taille-20 {
        width: 20%;
      }
      .taille-40 {
        width:40%;
      }
      .taille-60 {
        width: 60%;
      }
      .taille-80 {
        width: 80%;
      }
    }

    .autre-projet {
      font-size: 45px;
      margin: auto;
      height: 70vh;
      text-align: center;
      align-content: center;
      text-decoration: none;

      .lien-liste-projets {
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-weight: 900;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1vw 5vh;
    width: 98vw;

    .logo {
      align-self: end;
      z-index: 1000;

      .logo-image {
        width: 110px;
        height: 60px;
      }
    }

    .motif {
      padding-bottom: 3vh;
      z-index: 1000;
      width: 18vw;
    }

    .contact-button {
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-weight: 800;
      align-self: end;
      margin: 2vh 0 0;
      width: 110px;
      transition: all 0.3s ease-in-out;
      z-index: 1000;

      &:hover {
        font-size: 21px;
      }
    }
  }

  .footer {
    display: flex;
    margin-top: 8vh;
    justify-content: center;
    align-items: flex-end;

    .end-motif {
      width: 18vw;
    }

  }

}

/* Suppression de la scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* Curseur par défaut */
.custom-cursor {
  position: fixed;
  top: -6px;
  left: -6px;
  width: 12px;
  height: 12px;
  background-color: white;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s ease-out, width 0.2s ease, height 0.2s ease;
}

/* Curseur en hover de lien */
.custom-cursor.hover {
  width: 24px;
  height: 24px;
}







.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: auto;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: auto;
  display: block;
}

.arrow {
  background: transparent;
  border: none;
  padding: 10px;
  font-size: 55px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.arrow:active {
  scale: 1.1;
}
