
/* Suppression du cursor par defaut */
html, body, * {
  cursor: none;
}

body {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: Be Vietnam Pro, sans-serif;

  /* Page accueil */
  .portfolio-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: -1;
      filter : blur(8px);
      scale: 1.03;
      transition: background-image 0.5s ease-in-out;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 7vh;
      text-align: center;
      z-index: 10;

      .logo {
        filter: invert();

        img {
          width: 120px;
          height: auto;
        }
      }

      .info {
        width: 70vw;
        display: flex;
        font-size: 20px;
        flex-direction: row;
        justify-content: space-between;

        .divider {
          border: 2px solid #FFFFFF;
        }

        .category,
        .title {
          display: flex;
          flex-direction: column;
          text-transform: uppercase;
          width: 43%;
          font-weight: 800;
        }

        .category-text.is-changing,
        .title-text.is-changing {
          opacity: 0;
          transform: translateY(20px);
          /*transition: transform 0.5s ease-in-out;*/
        }

        .category-text,
        .title-text {
          transition: transform 0.4s ease-in-out;
          opacity: 1;
          transform: translateY(0);
        }

        .category {
          align-items: flex-end;
          gap: 10px;

          .category-title,
          .category-text {
            text-align: end;
            margin: 0;
          }

          .category-text {
            font-weight: 500;
          }
        }

        .title {
          align-items: flex-start;
          gap: 10px;

          .title-title,
          .title-text {
            text-align: start;
            margin: 0;
          }

          .title-text {
            font-weight: 500;
          }
        }
      }
    }
  }

  /* Page liste des projets */
  .listing-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    width: auto;

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
      gap: 12px;
      width: 100%;
      max-width: 75%;
      margin-top: 6%;

      .grid-item {
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 1.3s ease-in-out;
        }

        img:hover {
          transform: scale(1.5);
        }
      }

      /*.grid-item:hover {*/
      /*  cursor: pointer;*/
      /*}*/

    }

  }

  /* Page contact */
  .contact-page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;

    .contact-container {
      height: 60%;

      .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 75%;
        margin: auto;

        .contact-input {
          width: 50%;
          height: 45px;
        }

        .contact-textarea {
          width: 50%;
          height: 160px;
          resize: none;
        }

        .contact-input,
        .contact-textarea {
          border: solid 1px #707070;
        }
      }

      -ms-overflow-style: none;
    / / IE 10 + overflow: -moz-scrollbars-none;
    / / Firefox
    }
  }

  /* Page détail projet */
  .detail-container {
    margin: auto;
    width: 80%;

    .presentation-projet {
      /*margin: auto;*/
      /*width: 80%;*/

      .image-presentaion {
        width: 100%;
        max-height: 60vh;
      }

      .content-presentation {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5vh;

        .info {
          width: 75%;
          display: flex;
          font-size: 20px;
          flex-direction: row;
          justify-content: space-between;
          margin: 3vh auto;

          .divider {
            border: 2px solid #000000;
          }

          .category,
          .title {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            width: 43%;
            font-weight: 800;
          }

          .category {
            align-items: flex-end;
            gap: 10px;

            .category-title,
            .category-text {
              text-align: end;
              margin: 0;
            }

            .category-text {
              font-weight: 500;
            }
          }

          .title {
            align-items: flex-start;
            gap: 10px;

            .title-title,
            .title-text {
              text-align: start;
              margin: 0;
            }

            .title-text {
              font-weight: 500;
            }
          }
        }

        .info.fixed {
          width: 100%;
          background-color: #FFFFFF;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 100;
          margin: 0 auto;
          padding: 4vh 0 2vh 0;
        }
      }

      .content-presentation.add-margin {
        margin-top: 15vh;
      }
    }

    .info-projet {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15vh;
      gap: 12px;

      .description-et-image,
      .double-image,
      .image-large {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 100%;
      }

      .description-et-image {
        flex-direction: row;
        gap: 12px;

        .description {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 49%;

          .description-text {
            margin: auto;
            width: 75%;
            font-size: 20px;
            text-transform: uppercase;
          }
        }

        img {
          width: 49%;
        }
      }

      .description-et-image > * {
        flex: 1 1 0;
        object-fit: cover;
        width: 50%;
      }

      .double-image {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: calc(100% - 12px);
      }

      .double-image > * {
        flex: 1 1 0;
        object-fit: cover;
        width: 50%;
      }

      .image-large {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    .autre-projet {
      font-size: 45px;
      margin: auto;
      height: 70vh;
      text-align: center;
      align-content: center;
      text-decoration: none;

      .lien-liste-projets {
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-weight: 900;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1vw 5vh;
    width: 98vw;

    .logo {
      align-self: end;
      z-index: 1000;

      .logo-image {
        width: 110px;
        height: 60px;
      }
    }

    .motif {
      padding-bottom: 3vh;
      z-index: 1000;
    }

    .contact-button {
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-weight: 800;
      align-self: end;
      margin: 2vh 0 0;
      width: 110px;
      transition: all 0.3s ease-in-out;
      z-index: 1000;

      &:hover {
        font-size: 21px;
      }
    }
  }

  .footer {
    display: flex;
    margin-top: 8vh;
    justify-content: center;
    align-items: flex-end;

    .end-motif {

    }

  }

}

/* Suppression de la scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* Curseur par défaut */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s ease-out, width 0.2s ease, height 0.2s ease;
}

/* Curseur en hover de lien */
.custom-cursor.hover {
  width: 20px;
  height: 20px;
}